$primary: #ff623f;
$primary-2: #225560;
$primary-3: #171219;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$light-light: #f8f9fa17;
$dark: #212529;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
}

body {
  font-family: "DM Sans", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $light;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background: $primary;
  width: 100%;
  border-bottom: 1px solid $light-light;
  .logo {
    color: $light;
    margin: 1rem 2rem;
  }
  .nav-links {
    display: flex;
    margin: 1rem 2rem;
    .nav-link {
      padding: 1rem;
      font-size: 1.1rem;
      .beta-btn {
        background: $light;
        color: $primary;
        border: none;
        border-radius: 3px;
        width: 120px;
        height: 35px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.header-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: $primary;
  height: 75vh;
  h1 {
    color: $light;
    font-size: 4rem;
    padding: 2rem;
  }
  p {
    color: $light;
    padding: 1rem 2rem;
    font-size: 1.3rem;
    max-width: 600px;
  }
  button {
    background: $light;
    border: none;
    color: $primary;
    padding: 1rem 2rem;
    margin: 1rem 2rem;
    border-radius: 5px;
  }
}

.section-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
  width: 100%;
  margin: auto;
  h1 {
    font-size: 3rem;
    text-align: center;
    margin: 3rem auto;
    color: $primary-3;
  }
  p {
    font-size: 1.22rem;
    max-width: 600px;
    text-align: center;
    color: $primary-3;
  }
  .grid-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 3rem;
    .img-box {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
    h2 {
      text-align: center;
      margin: 1rem;
    }
    p {
      text-align: center;
      margin: 1rem;
      font-size: 0.9rem;
    }
  }
}

.section-preview {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  background: #f2f5f5;
  height: 60vh;
  h2 {
    font-size: 2rem;
    max-width: 400px;
    color: $primary-2;
    padding: 1rem 2rem;
  }
  p {
    margin: 1rem auto;
    color: $primary-2;
    padding: 1rem 2rem;
  }
  a {
    color: $primary;
    padding: 2rem;
  }
}

.footer-box {
  height: 70vh;
  background: #171219;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h2 {
    color: $light;
    text-align: center;
    margin: 2rem;
    font-size: 3rem;
  }
  p {
    color: $light;
    text-align: center;
    margin: 2rem;
    font-size: 1.4rem;
  }
  form {
    color: $light;
    display: flex;
    flex-direction: column;
    input[type="text"],
    input[type="email"] {
      padding: 12px 20px;
      margin: 8px 0;
      border: 1px solid #ccc;
      border-radius: 4px;
      width: 400px;
      height: 50px;
    }
    input[type="radio"] {
      border: 1px solid burlywood;
      margin: 1rem;
    }
    input[type="submit"] {
      background-color: $primary;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      margin: 8px 0;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 992px) {
  .header-box {
    flex-direction: column;
    height: 100vh;
    img {
      width: 300px;
    }
  }
  .section-box {
    height: auto;
    .grid-content {
      flex-direction: column;
    }
  }
  .section-preview {
    height: auto;
    flex-direction: column;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 0.9rem;
  }
  .header-box {
    flex-direction: column;
    height: 100vh;
    img {
      width: 300px;
    }
  }
  .section-box {
    height: auto;
    .grid-content {
      flex-direction: column;
    }
  }
  .section-preview {
    height: auto;
    flex-direction: column;
  }
}
