* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
}

body {
  font-family: "DM Sans", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #f8f9fa;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
  background: #ff623f;
  width: 100%;
  border-bottom: 1px solid #f8f9fa17;
}

nav .logo {
  color: #f8f9fa;
  margin: 1rem 2rem;
}

nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 2rem;
}

nav .nav-links .nav-link {
  padding: 1rem;
  font-size: 1.1rem;
}

nav .nav-links .nav-link .beta-btn {
  background: #f8f9fa;
  color: #ff623f;
  border: none;
  border-radius: 3px;
  width: 120px;
  height: 35px;
}

nav .nav-links .nav-link .beta-btn:hover {
  cursor: pointer;
}

.header-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ff623f;
  height: 75vh;
}

.header-box h1 {
  color: #f8f9fa;
  font-size: 4rem;
  padding: 2rem;
}

.header-box p {
  color: #f8f9fa;
  padding: 1rem 2rem;
  font-size: 1.3rem;
  max-width: 600px;
}

.header-box button {
  background: #f8f9fa;
  border: none;
  color: #ff623f;
  padding: 1rem 2rem;
  margin: 1rem 2rem;
  border-radius: 5px;
}

.section-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75vh;
  width: 100%;
  margin: auto;
}

.section-box h1 {
  font-size: 3rem;
  text-align: center;
  margin: 3rem auto;
  color: #171219;
}

.section-box p {
  font-size: 1.22rem;
  max-width: 600px;
  text-align: center;
  color: #171219;
}

.section-box .grid-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 3rem;
}

.section-box .grid-content .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-box .grid-content h2 {
  text-align: center;
  margin: 1rem;
}

.section-box .grid-content p {
  text-align: center;
  margin: 1rem;
  font-size: 0.9rem;
}

.section-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  background: #f2f5f5;
  height: 60vh;
}

.section-preview h2 {
  font-size: 2rem;
  max-width: 400px;
  color: #225560;
  padding: 1rem 2rem;
}

.section-preview p {
  margin: 1rem auto;
  color: #225560;
  padding: 1rem 2rem;
}

.section-preview a {
  color: #ff623f;
  padding: 2rem;
}

.footer-box {
  height: 70vh;
  background: #171219;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-box h2 {
  color: #f8f9fa;
  text-align: center;
  margin: 2rem;
  font-size: 3rem;
}

.footer-box p {
  color: #f8f9fa;
  text-align: center;
  margin: 2rem;
  font-size: 1.4rem;
}

.footer-box form {
  color: #f8f9fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-box form input[type="text"],
.footer-box form input[type="email"] {
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 400px;
  height: 50px;
}

.footer-box form input[type="radio"] {
  border: 1px solid burlywood;
  margin: 1rem;
}

.footer-box form input[type="submit"] {
  background-color: #ff623f;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  margin: 8px 0;
  cursor: pointer;
}

@media only screen and (max-width: 992px) {
  .header-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
  }
  .header-box img {
    width: 300px;
  }
  .section-box {
    height: auto;
  }
  .section-box .grid-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-preview {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 0.9rem;
  }
  .header-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
  }
  .header-box img {
    width: 300px;
  }
  .section-box {
    height: auto;
  }
  .section-box .grid-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-preview {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=styles.css.map */